$normal-mode: #4d82bc;
$light-mode: #84b6f4;
$dark-mode: #005187;
$background: #c4dafa;
$white: #fcffff;
$success: #22bb33;
$danger: #bb2124;
$warning: #f0ad4e;
$info: #005187;
$grey: #aaaaaa;

body {
  background-color: $background;
  color: $normal-mode;
}

.success-message {
  background-color: $success;
  color: $white;
}

.error-message {
  background-color: $danger;
  color: $white;
}

.warning-message {
  background-color: $warning;
  color: $grey;
}

.info-message {
  background-color: $info;
  color: $white;
}

.toast {
  border: none;
  box-shadow: none;
  background: transparent;

  .toast-body {
    background-color: $white;
  }
}

.error-toast {
  .toast-header {
    background-color: $danger;
  }
}

.success-toast {
  .toast-header {
    background-color: $success;
  }
}

.warning-toast {
  .toast-header {
    background-color: $warning;
  }
}

.info-toast {
  .toast-header {
    background-color: $info;
  }
}

.table-custom {
  width: 80%;
  border-collapse: collapse;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  thead {
    background-color: #f4f4f8;
    color: #333;
    th {
      font-weight: 600;
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #fcfcfc;
      }
      &:nth-of-type(even) {
        background-color: #e9e9e9;
      }
      &:hover {
        background-color: #f1f1f1;
      }
      td {
        padding: 1rem;
        border-bottom: 1px solid #ddd;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
