<app-sidebar [username]="username" [privateKey]="privateKey"></app-sidebar>
<div class="inbox-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Public Key</th>
        <!-- Agrega más columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of registered_users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.public_key }}</td>
        <!-- Añade más celdas si tienes más datos que mostrar -->
      </tr>
    </tbody>
  </table>
</div>