/* login.component.css */
@import '../app.component.scss';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  max-width: 35%;
  min-width: 10%;
  height: 70%;
  min-height: 70%;
  max-height: 70%;
  margin: 1rem;
  padding: 2rem;
  background-color: $background;
  box-shadow: 0px 10px 25px 0px rgb(77, 130, 188, 0.5);
  border-radius: 10px;
}

.login-box img {
  width: 100%;
  height: auto;
}

input,
button {
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', sans-serif;
}