$normal-mode: #4d82bc;
$light-mode: #84b6f4;
$dark-mode: #005187;
$background: #c4dafa;
$white: #fcffff;
$success: #22bb33;
$danger: #bb2124;
$warning: #f0ad4e;
$info: #005187;
$grey: #aaaaaa;

body {
  background-color: $background;
  color: $normal-mode;
}

.success-message {
  background-color: $success;
  color: $white;
}

.error-message {
  background-color: $danger;
  color: $white;
}

.warning-message {
  background-color: $warning;
  color: $grey;
}

.info-message {
  background-color: $info;
  color: $white;
}

.toast {
  border: none;
  box-shadow: none;
  background: transparent;

  .toast-body {
    background-color: $white;
  }
}

.error-toast {
  .toast-header {
    background-color: $danger;
  }
}

.success-toast {
  .toast-header {
    background-color: $success;
  }
}

.warning-toast {
  .toast-header {
    background-color: $warning;
  }
}

.info-toast {
  .toast-header {
    background-color: $info;
  }
}