<app-sidebar [username]="username" [privateKey]="privateKey"></app-sidebar>
<div class="groups-container">
  <div *ngIf="messages.length > 0" class="chat-container">
    <div class="messages-container">
      <div *ngFor="let msg of messages"
        [ngClass]="{'message': true, 'sent': msg.author === username, 'received': msg.author !== username}">
        <div class="message-author">{{ msg.author }}</div>
        <div class="message-content">{{ msg.mensaje_cifrado }}</div>
      </div>
    </div>
    <div class="type-message-container">
      <textarea id="messageContent" [(ngModel)]="messageContent" placeholder="Escribe tu mensaje aquí"
        (keyup.enter)="sendMessage()"></textarea>
      <button (click)="sendMessage()" class="send-button">Enviar</button>
    </div>
    <button class="close-chat" (click)="clearMessages()">X</button>
  </div>

  <button class="boton-agregar" (click)="toggleCrearGrupos()">Agregar</button>

  <div *ngIf="flagCrearGrupo" class="addGrupo-container">
    <h3>Crear Grupo</h3>

    <div class="input-group">
      <label for="groupName">Nombre</label>
      <input type="text" id="groupName" [(ngModel)]="newGroup.nombre" placeholder="Nombre del grupo">
    </div>

    <div class="input-group">
      <label for="groupPassword">Contraseña</label>
      <input type="password" id="groupPassword" [(ngModel)]="newGroup.password" placeholder="Contraseña del grupo">
    </div>

    <div class="input-group user-input-group">
      <label for="groupKey">Agregar usuarios</label>
      <input type="text" id="groupKey" [(ngModel)]="searchText" (input)="filterUsers()" placeholder="Nombre de usuario">
      <div *ngIf="searchText" class="user-suggestions">
        <ul>
          <li *ngFor="let user of filteredUsers" (click)="addUserToGroup(user.username); closeSuggestions()">
            {{ user.username }}
          </li>
        </ul>
      </div>
      <div class="user-tags">
        <span class="user-tag" *ngFor="let user of newGroup.users" (click)="removeUserFromGroup(user)">
          {{ user }} <span class="remove-user-tag">x</span>
        </span>
      </div>
    </div>

    <div class="input-group">
      <input type="hidden" [(ngModel)]="newGroup.username" [value]="username">
    </div>

    <button (click)="crearGrupo()" class="button-primary">Crear Grupo</button>

    <button class="close-chat" (click)="toggleCrearGrupos()">X</button>
  </div>

  <div *ngIf="flagEliminarGrupo" class="deleteGroup-container">
    <h3>Eliminar Grupo {{ groupToDelete?.nombre }}</h3>
    <div class="input-group">
      <label for="groupDeletePassword">Contraseña del Grupo</label>
      <input type="password" id="groupDeletePassword" [(ngModel)]="groupToDeletePassword" placeholder="Ingresa la contraseña para eliminar el grupo">
    </div>
    <button (click)="confirmDeleteGroup()" class="button-danger">Eliminar</button>
    <button class="close-chat" (click)="toggleEliminarGrupos()">X</button>
  </div>

  <table class="table-custom">
    <thead>
      <tr>
        <th>Group</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of registered_groups">
        <td (click)="loadGroupMessages(group.id, group.nombre)">{{ group.nombre }}</td>
        <td (click)="eliminarGrupo(group.nombre)"> X </td>
      </tr>
    </tbody>
  </table>
</div>