@import '../app.component.scss';

.groups-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
  height: 100vh;
  padding-left: 250px;
}

.chat-container {
  position: absolute;
  right: 250px;
  width: calc(80% - 250px);
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.messages-container {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
}

.message-author {
  font-size: 0.8rem;
  color: #6c757d;
  padding-bottom: 5px;
}

.message-content {
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
  word-break: break-word;
}

.sent .message-content {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.received .message-content {
  align-self: flex-start;
  background-color: #e9ecef;
  color: black;
}

.close-chat {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.type-message-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f8f9fa;
}

#messageContent {
  flex-grow: 1;
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  resize: none;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  background: white;
  height: 45px;
}

#messageContent:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.send-button {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: #0056b3;
}

.boton-agregar {
  position: absolute;
  background-color: $dark-mode;
  color: black;
  border-color: $dark-mode;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.addGrupo-container {
  position: absolute;
  top: 20px;
  right: 250px; // Ajustar según la posición deseada
  width: calc(80% - 250px);
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100; // Asegúrate de que se superponga a otros elementos si es necesario
}

.input-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: .5rem;
  }

  input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }

  .user-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }

  .user-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    font-size: 0.8em;
    cursor: pointer;
    user-select: none;

    .remove-user {
      margin-left: 5px;
      color: #ff0000;
    }
  }
}

.user-suggestions {
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

.deleteGroup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.button-danger {
  background-color: #ff4444;
  color: white;
}