<app-sidebar [username]="username" [privateKey]="privateKey"></app-sidebar>
<div class="inbox-container">

  <!-- Nueva tabla para mostrar los mensajes -->
  <table class="table-custom">
    <thead>
      <tr>
        <th>Username Origen</th>
        <th>Mensaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages">
        <td (click)="loadUserMessages(message.username_origen, username)">{{ message.username_origen }}</td>
        <td>{{ message.mensaje_cifrado }}</td>
      </tr>
    </tbody>
  </table>
</div>
